
footer.app-footer
  .text-center
    p.pull-left 
      a(href='http://cryptobotics.co')
        span.macondo.amber.x20px Cryptobotics.co
      |
      | .^_^.
      |
      | © 2018
      | 
      | All Rights Reserved
    ul.pull-right.list-inline
      li Powered by
        //a(href='#') GitHub Project
      li 
        span.macondo.x20px.amber Cryptobotics
        //a(href='#') Issues

  