extends ../layout

block content
  h1 USER FORM!!!!
  .container.col-sm-6
    form.form-horizontal(method='POST' action='')
      div.form-group
        label.col-sm-2.control-label(for='name') name:
        .col-sm-10
          input#name.form-control(type='text', placeholder='nombre del usuario' name='name' value=(undefined===user ? '' : user.name))
      div.form-group
        label.col-sm-2.control-label(for='affiliation') affiliation:
        .col-sm-10
          select#affiliation.form-control(type='select', placeholder='Select author' name='affiliation' required='true'  value=(undefined===user ? '' : user.affiliation) )
            option(selected= user.affiliation == 'cryptobotics.co') cryptobotics.co
            option(selected= user.affiliation == 'forwintraders.com')  forwintraders.com
            option(selected= user.affiliation == 'node-net.io')  node-net.io
      div.form-group
        label.col-sm-2.control-label(for='machineID') machineID:
        .col-sm-10
          input#machineID.form-control(type='text', placeholder='Machine Id usuario' name='machineID' value=(undefined===user ? '' : user.machineID))
      div.form-group
        label.col-sm-2.control-label(for='password') password:
        .col-sm-10
          input#password.form-control(type='password', placeholder='password usuario' name='password' value=(undefined===user ? '' : user.password))

      div.form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg